<div id="main-container">
    <form action="/create" id="get-container" method="POST">
        <header>
            <h1>TODO  | App</h1>
        </header>
        <hr>
        <div id="description-container">
            <div class="input-heading">
                <h6>DESCRIPTION</h6>
            </div>
            <div id="input">
                <input type="text" name="description" placeholder="What do you need to do?" required>
            </div>
        </div>
        <hr>
        <div id="category_duedate-container">
            <div id="category-container">
                <div class="input-heading">
                    <h6>CATEGORY</h6>
                </div>
                <select name="category" id="category-dropdown">
                    <option value="none" selected disabled hidden>Choose a category</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="school">School</option>
                    <option value="cleaning">Cleaning</option>
                    <option value="others">others</option>
                </select>
            </div>
            <div id="duedate-container">
                <div class="input-heading">
                    <h6>DUE DATE</h6>
                </div>
                <div id="dd_input">
                    <input type="date" name="duedate" placeholder="dd/mm/yyyy">
                </div>
            </div>
        </div>
        <hr>
        <div id="button-container">
            <div id="submit-button" class="button">
                <i class="fas fa-plus"></i>
                <input type="submit" value="ADD TASK">
            </div>
            <div id="delete-button" class="button">
                <i class="far fa-trash-alt"></i>
                <% let i = list_todo %>
                <a href="/delete/?id=<%=i._id%>"></a>
            </div>
        </div>
    </form>
    <div id="list-container">
            <% for(let i of list_todo){%>
                <div id="details-container">
                    <div id="checkbox">
                        <input type="checkbox" value="i._id">
                    </div>
                    <div id="details">
                        <div id="details-heading">
                            <h5><%= i.description %></h5>
                        </div>
                        <div id="date-icon">
                            <i class="far fa-calendar-check"></i>
                            <span>
                                <% if(i.duedate){%>
                                    <%= i.duedate%>
                                <%} else{%>
                                    No deadline
                                <%}%>
                            </span>
                        </div>
                    </div>
                    <div id="category">
                        <p><%= i.category %></p>
                    </div>
                </div>
            <%}%>
    </div>
</div>
<script src="/js/script.js"></script>