<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/layout.css">

        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5af1b87095.js" crossorigin="anonymous"></script>
        <%- style%>
    </head>

    <body>
   
        <main id="layout-main">
            <%-body%>
        </main>

        <%-script%>
    </body>
</html>